* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: arial,sans-serif;
}

button {
    cursor: pointer;
}

body {
    background-color: #121214;
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

/* container */
.forgot-container {
    background-color: #1b1d1f;
    width: 400px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    border-radius: 4px;
    animation: slideContainer 1s;
}

@keyframes slideContainer {
    from {
        transform: translatex(60px)
    }
    to {
        transform: translatex(0px)
    }
}

/* conteudo */
.forgot-content {
    width: 340px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.forgot-content h1 {
    text-align: center;
    color: #fff;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.6em;
    margin: 20px 0px;
}

/* container do input */
.forgot-input {
    background-color: #121214;
    position: relative;
    width: 100%;
    margin-bottom: 10px;
    border-radius: 4px;
}

.forgot-input input {
    border: 2px solid #37373d;
    border-radius: 4px;
    color: #cadae7;
    font-size: 16px;
    outline: none;
    padding: 15px 0px;
    background-color: rgba(255, 255, 255, 0);
    width: 100%;
    padding-left: 40px;
    padding-right: 20px;
}

.forgot-input input:focus {
    border: 2px solid #7c58da;
}

.forgot-input::placeholder {
    color: rgba(0, 0, 0, 0.507);
}

/* íconi */
.enveloper-icon {
    position: absolute;
    top: 18px;
    left: 12px;
    color: #3b3939ce;
    font-size: 20px; 
}

/* Botão recuperar */
.box-bnt-forgot {
    margin: 10px 0px;
    text-align: center;
}

.button-forgot {
    width: 340px;
    border-radius: 4px;
    border: none;
    padding: 15px 15px;
    background-color: #8256e4;
    color: #fff;
    font-weight: bold;
}

.button-forgot:hover {
    background-color: #9f81e0;
}

/* link container */
.link-box {
    text-align: center;
}

/* link voltar */
.link-login {
    font-family: Arial, Helvetica, sans-serif;
    display: inline-block;
    text-decoration: none;
    color: #858991;
    margin-top: 10px;
    margin-bottom: 20px;
}

.link-login:hover {
    text-decoration: underline;
}

/* mensagem de error */
#mensagem-error {
    display: none;
    position: relative;
    font-size: 15px;
    right: 90px;
    color: #b9251d;
    margin-bottom: 7px;
}

/* popup */
.popup {
    display: none;
    font-family: Arial, Helvetica, sans-serif;
    background-color: green;
    width: 280px;
    border-radius: 4px;
    color: #FFF;
    padding: 20px;
    position: absolute;
    top: 50px;
    right: 20px;
    animation: slideResult 1s;
}

@keyframes slideResult {
    from {
        transform: translatex(60px)
    }
    to {
        transform: translatex(0px)
    }
}

.popup-close {
    cursor: pointer;
    position: absolute;
    top: 5px;
    right: 5px; 
}

.popup-close:hover {
    color: #a59fa0;
}

/* media queires */

@media (max-width: 420px) {
    .forgot-container {
        width: 95%;
        animation: none;
    }

    .forgot-input {
        width: 95%;
    }

    .button-forgot {
        max-width: 320px;;
    }

    .popup {
        width: 90%;
        top: 260px;
        background-color: rgb(17, 128, 93);
    }
}

@media (max-width: 300px) {
    .forgot-container {
        margin-left: 40px;
        width: 95%;
        animation: none;
    }

    .forgot-input {
        width: 70%;
    }

    .button-forgot {
        max-width: 240px;;
    }
}