* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    background-color: #121214;
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.login-container {
    border-radius: 4px;
    color: white;
    width: 600px;
    display: flex;
    padding: 10px 0px;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #211f25;
}

.login-container h1 {
    margin: 20px 0px;    
}

.login-content {
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.box-inputs {
    position: relative;
    width: 370px;
}

.input-email-container {
    background-color: #121214;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    margin-bottom: 10px;
    border-radius: 4px;
}

.input-email-container input {
    color: #cadae7;
    font-size: 16px;
    outline: none;
    padding: 12px 0px;
    background-color: rgba(255, 255, 255, 0);
    border: none;
    width: 85%;
}

.input-email::placeholder {
    color: rgba(0, 0, 0, 0.507);
}

.enveloper-icon {
    position: relative;
    top: 3px;
    right: 9px;
    color: rgba(0, 0, 0, 0.808);
    font-size: 20px; 
}

.input-password-container {
    background-color: #121214;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    margin-bottom: 10px;
    border-radius: 4px;
}

.input-password-container input {
    color: #cadae7;
    font-size: 16px;
    outline: none;
    padding: 12px 0px;
    margin-right: 20px;
    background-color: rgba(255, 255, 255, 0);
    border: none;
    width: 80%;
}

.lock-icon {
    position: relative;
    top: 3px;
    right: 9px;
    color: rgba(0, 0, 0, 0.808);
    font-size: 20px; 
}

.show-password {
    cursor: pointer;
    position: absolute;
    top: 12px;
    right: 8px;
    color: #7c58da;
    font-size: 22px;
}

.link-new-password {
    color: #5d4a94;
    font-weight: bold;
    font-size: 14px;
    text-decoration: none;
}

.link-new-password:hover {
    color: #7e65c9;
}

/* button */

.button-submit-login {
    cursor: not-allowed;
    background-color: #43346b;
    border: none;
    border-radius: 4px;
    margin: 20px 0px;
    padding: 10px;
    color: #7d64c7;
    font-weight: bold;
    font-size: 16px;
}

/* 
#8256e4
#efdef7
*/

.login-footer {
    display: flex;
    margin-bottom: 20px;
}

.login-footer p {
    color: #dfcfcb;
    margin-right: 5px;
}

.link-new-count {
    color: #6453a3;
    text-decoration: none;
    font-weight: bold;
}

.link-new-count:hover {
    color: #7e65c9;
}